

.container h1{
    font-size: 3rem;
    color: var(--dark-blue)
}

.container p{
    font-size: 1.25rem;
    color: var(--blue-gray);
}

.container form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.container form input{
    width: 100%;
    height: 3rem;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 4px rgba(161, 175, 196, 0.4);
}

.container form a{
    color: var(--dark-blue);
}

.container form button{
    width: 100%;
    height: 3rem;

    background-color: var(--blue);
    color: var(--white);
   
    font-size: 1.5rem;
    font-family: 'Montserrant', sans-serif;
    font-weight: 500;

    border: none;
    border-radius: 8px;
}